{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">Add List</h2>
	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}

{% endblock %}

{% block body2 %}
	{{form_start(forms)}}
	{{form_widget(forms)}}
	{{form_end(forms)}}
{% endblock %}