{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-3">
	<img src="{{ img_url }}" class="thumbnail img-responsive" />
</div>
<div class="col-sm-9">
	<ul class="list-group">
	  <li class="list-group-item">Name: {{ name }}</li>
	  <li class="list-group-item">Company: {{ company }}</li>
	  <li class="list-group-item">URL: <a href={{ url }}>{{ url }}</a></li>
	  <li class="list-group-item">Followers: <span class="label label-primary">{{ followers }}</span></li>
	  <li class="list-group-item">Following: <span class="label label-success">{{ following }}</span></li>
	  <li class="list-group-item">Joined: <span class="label label-info">{{ joined }}</span></li>

	</ul>
</div>
{% endblock %}