{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="row">
		<h2 class="page-header">Add List</h2>
		<div class="col-sm-4">
			{{form_start(forms)}}
			{{form_widget(forms)}}
			{{form_end(forms)}}
		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-7">
		<p style="font-family: 'Roboto', sans-serif; font-size: 24px; text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
		</div>
	</div>


	<script>
		$(document).ready(function() {
		    $('#example').DataTable();
		} );
	</script>

	<div class="row">
		<h2 class="page-header">List</h2>
		<div class="table-responsive">
			<table id="example" class="table table-striped" style="width:100%"> 
			 	<thead> 
				 	<tr> 
				 		<th>#</th> 
				 		<th>Name</th> 
				 		<th>Email Address</th> 
				 		<th>Gender</th>
				 		<th>Description</th>
				 		<th>Action</th>
				 	</tr> 
			 	</thead> 
			 	<tbody class="searchable"> 
			 		{% for list in lists %}
			 		<tr> 
			 			<th scope="row">{{list.id}}</th> 
			 			<td>{{list.name}}</td> 
			 			<td>{{list.email}}</td> 
			 			<td>{{list.gender}}</td> 
			 			<td>{{list.description}}</td>
			 			<td><a href="/demo/view/{{list.id}}" class="btn btn-default">VIEW</a> <a href="/demo/edit/{{list.id}}" class="btn btn-success">EDIT</a> <a href="/demo/delete/{{list.id}}" class="btn btn-danger">DELETE</a></td>
			 		</tr> 
			 		{% endfor %}
			 	</tbody> 
			 	
			</table> 
		</div>
	</div>

	

{% endblock %}

{% block body2 %}
	DEMO INDEX
	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}
{% endblock %}

