{% extends 'base.html.twig' %}

{% block body %}

	<div class="starter-template" style="text-align: center; padding-top:90px;">
        <h1>James Adrian Andog</h1>
        <p class="lead">Experienced Software Engineer with a demonstrated history of working in the computer software industry. Strong engineering professional with a Bachelor’s Degree focused in Information Technology from Mindanao State University-Iligan Institute of Technology. </p>
    </div>
    <div class="test">
    </div>

{% endblock %}

{% block body2 %}
	DEMO INDEX
	{{form_start(forms)}}
	{{form_widget(forms)}}
	{{form_end(forms)}}
{% endblock %}