{% extends 'base.html.twig' %}

{% block body %}
	
	<script>
		$(document).ready(function() {
		    $('#example').DataTable();
		} );
	</script>

	
	
	<div class="table-responsive">
		<table id="example" class="table table-striped" style="width:100%"> 
		 	<thead> 
			 	<tr> 
			 		<th>#</th> 
			 		<th>Name</th> 
			 		<th>Email Address</th> 
			 		<th>Gender</th>
			 		<th>Description</th>
			 		<th>Action</th>
			 	</tr> 
		 	</thead> 
		 	<tbody class="searchable"> 
		 		{% for list in lists %}
		 		<tr> 
		 			<th scope="row">{{list.id}}</th> 
		 			<td>{{list.name}}</td> 
		 			<td>{{list.email}}</td> 
		 			<td>{{list.gender}}</td> 
		 			<td>{{list.description}}</td>
		 			<td><a href="/demo/view/{{list.id}}" class="btn btn-default">VIEW</a> <a href="/demo/edit/{{list.id}}" class="btn btn-success">EDIT</a> <a href="/demo/delete/{{list.id}}" class="btn btn-danger">DELETE</a></td>
		 		</tr> 
		 		{% endfor %}
		 	</tbody> 
		 	
		</table> 
	</div>

{% endblock %}

{% block body2 %}
	{{form_start(forms)}}
	{{form_widget(forms)}}
	{{form_end(forms)}}
{% endblock %}

