{% extends 'base.html.twig' %}

{% block body %}
	<a class="btn btn-default" href="/demo/list">Back to Homepage</a>
	<h2 class="page-header">{{list.name}}</h2>
	<ul class="list-group">
		<li class="list-group-item">Email Address: {{list.email}}</li>
		<li class="list-group-item">Gender: {{list.gender}}</li>
		<li class="list-group-item">Description: {{list.description}}</li>
	</ul>

	
{% endblock %}